.data{
    margin: 1px;
}
.fon{
     font-size: 23px;
     font-weight: bold;
     color: #383838;
}
.blog {
    padding: 20px;
    position: relative;
}
.blog-image {
    height: 200px;
    max-width: 100%;
}
.datas{
    height: 300px;
    width: 300px;
}
.float{
    float: right;
}
.radius{
    border-radius: 4px;
    color: green;
}
.font{
    font-size: 15px;
    color: rgb(78, 159, 209);
}